<% if @error %><!--simple for now -->
	<div class="alert alert-danger"><%= @error %></div>
<% end %>

<% if @success %><!--simple for now -->
	<div class="alert alert-success"><%= @success %></div>
<% end %>