<h1>Why Do I Have To Register An Account? Why Can't You Use My Twitch Account?</h1>
<h5>the short of it is Twitch doesn't allow you to store their information on your server for more than 24 hours. the information for what mailing lists you've signed up for has to exist somewhere. I would love to have twitch do the authentication, but I would need to store some type of identifiable information in order to do so.</h5>

<h1>Why Doesn't The Search Show All Streamers?</h1>
<h5>because Twitch's API doesn't let you search channel names. The dropdown box only fills in who already exists in the database, which is generated on the fly when a request is made for a valid streamer. If you fill in a full valid name and don't see it just click "go", it'll work just fine.</h5>

<h1>What's All This "Unverified" Business?</h1>
<h5>unverified streams are streams that haven't been claimed by the streamer yet. you can still sign up for these streams and you will receive emails as soon as the streamer starts using the website. Unverified accounts need to verify their email address, in order to login.</h5>

<h1>I'm a streamer, how do I claim my stream and start using the site?</h1>
<h5>that's easy! make an account and then PM bobplaysgames on Twitch the name of your account on this website from the exact stream you want to verify. This is a manual process for now, but as long as the twitch API supports reading messages I can automate this in the future</h5>

