<% if @user %>
	<h1> Welcome, <%= @user %>!</h1>
<% else %>
	<h1> Welcome to ThisIsTehUrn.com </h1>
<% end %>

<h1>Top Stream Subscriptions:</h1>
<ul>
<% @streams.each do |stream|  %>
	<li><a href = '<%=stream[:name]%>'><%=stream[:name]%></a></li>
<% end %>
</ul>